body {
    font-family: 'Trebuchet MS', sans-serif;
  }
label{
    padding-left: 37px;
}
#title{
    padding-left: 37px;
}
.square {

    height: 150px;
    width: 125px;
    border-width:1px;
    border-style:solid;
    border-color:rgb(32, 14, 14);
  }
#draw{
    border-radius: 9%;
    margin-left: 37px;
    background-color: black;
    border: 1px solid #ccc;
    color:white;
    font-weight: bold;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    margin-left: 37px;
    border-radius: 8%;
    color: white;
    font-weight: bold;
    background-color: black;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
h2{
    margin-top: 0;
}